*.mlapp binary
*.mlx binary
*.mat binary
*.fig binary
*.mlapp binary
*.mdl binary
*.slx binary
*.mdlp binary
*.slxp binary
*.sldd binary
*.p binary
*.py text eol=lf
*.m  text eol=lf
*.md text eol=lf
*.txt text eol=lf
